/* десктоп */

.hero {
  position: relative;
  width: 1400px;
  height: 6115px;
  background: #D7E0EB;
  margin: 0 auto; /* чтобы блок был по центру */
}


/* главная */

.main {
  position: absolute;
  width: 1578px;
  height: 1144px;
  left: -102px;
  top: -53px;
  background: #fff; /* фон, если нужен */
  padding: 40px;
  box-sizing: border-box;
}


/* контакты */

.contacts {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
  padding: 40px 20px;
  box-sizing: border-box;
}


/* BBK IT */

position: absolute;
width: 140px;
height: 28px;
left: -65px;
top: 42px;

font-family: 'Geologica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: 0.06em;

color: #2D2D2D;

